<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<string>1</string>
	</dict>
	<key>data</key>
	<dict>
		<key>more</key>
		<string>More</string>
		<key>leaderboard</key>
		<string>Leaderboards/Achievements</string>
		<key>learn</key>
		<string>Learn</string>
		<key>rate</key>
		<string>Rate/Feedback</string>
		<key>setting</key>
		<string>Settings</string>
		<key>tablemode</key>
		<string>Play</string>
		<key>categories</key>
		<string>Categories</string>
		<key>scoreCat</key>
		<string>Category: @cat</string>
		<key>scoreDesc</key>
		<string>You got</string>
		<key>newBestScore</key>
		<string>New best SCORE!</string>
		<key>bestScore</key>
		<string>Your best score is @number</string>
		<key>cats</key>
		<array>
			<string>letters</string>
			<string>numbers1</string>
			<string>adjectives</string>
			<string>numbers2</string>
			<string>food1</string>
			<string>animals1</string>
			<string>body1</string>
			<string>clothes1</string>
			<string>transport</string>
			<string>food2</string>
			<string>verbs1</string>
			<string>animals2</string>
			<string>kitchen</string>
			<string>nature</string>
			<string>computer</string>
			<string>stationary</string>
			<string>garden</string>
			<string>verbs2</string>
			<string>hospital</string>
			<string>personal</string>
			<string>body2</string>
			<string>jobs</string>
			<string>animalparts</string>
			<string>clothes2</string>
			<string>city</string>
			<string>colors</string>
			<string>furniture</string>
			<string>positions</string>
			<string>sports</string>
		</array>
    <key>c_numbers1</key>
    <string>numbers 1</string>
    <key>c_numbers2</key>
    <string>numbers 2</string>
    <key>c_food1</key>
    <string>food 1</string>
    <key>c_food2</key>
    <string>food 2</string>
    <key>c_animals1</key>
    <string>animals 1</string>
    <key>c_animals2</key>
    <string>animals 2</string>
    <key>c_verbs2</key>
    <string>verbs 2</string>
    <key>c_verbs1</key>
    <string>verbs 1</string>
    <key>c_body1</key>
    <string>body 1</string>
    <key>c_body2</key>
    <string>body 2</string>
    <key>c_animalparts</key>
    <string>animal parts</string>
    <key>c_clothes2</key>
    <string>clothes 2</string>
    <key>c_clothes1</key>
    <string>clothes 1</string>
		<key>body2</key>
		<string>shoulder;knee;moustache;elbow;forehead;heel;ankle;eyebrow;eyelash;wrist;armpit;belly button;bicep;bone;calf;earlobe;hip;lips;nostril;thigh</string>
		<key>jobs</key>
		<string>chef;doctor;driver;farmer;fireman;nurse;policeman;soldier;teacher;waiter;shop assistant;singer;dancer;dentist;fisherman;builder;mechanic;factory worker;office worker;gardener;athlete;barman;security guard;reporter;receptionist;life guard;electrician;pirate;handyman;writer</string>
		<key>animalparts</key>
		<string>beak;claw;feather;fin;horn;paw;tail;trunk;tusk;wings</string>
		<key>clothes1</key>
		<string>coat;dress;hat;pants;shoe;shorts;skirt;socks;tie;tshirt;glasses;sweater;gloves;jacket;scarf;belt;suit;boots;ring;umbrella</string>
		<key>clothes2</key>
		<string>helmet;swimsuit;sunglasses;sandals;vest;necklace;slipper;dressing gown;high heels;mask;axe;bracelet;cloak;crown;earring;flip flops;shield;snorkel;space suit;sword</string>
		<key>city</key>
		<string>apartment block;castle;church;factory;hospital;lighthouse;palace;skyscraper;tent;windmill;bridge;bus stop;crossroads;fountain;road;sidewalk;statue;street light;track;traffic lights</string>
		<key>colors</key>
		<string>red;blue;green;orange;yellow;purple;black;white;brown;grey;pink;gold;violet;silver;dark red;light red;dark blue;light blue;dark green;light green</string>
		<key>furniture</key>
		<string>tv;chair;door;sofa;table;window;lamp;clock;bin;closet;telephone;picture;remote;air conditioner;rug;stairs;plant;curtain;vase;cushion;armchair;bookcase;ceiling;fan;floor;globe;shelf;fireplace;stereo;stool</string>
		<key>positions</key>
		<string>in;on;under;above;in front of;behind;between;next to;on the right;on the left</string>
		<key>verbs1</key>
		<string>be quiet;drink;eat;listen;look;run;sleep;smell;speak;walk;cook;dance;fly;jump;read;sing;sit;smile;stand;write</string>
		<key>verbs2</key>
		<string>close the door;do homework;go shopping;listen to music;open a book;play video games;take a photo;talk on the phone;use a computer;wash hands;clean teeth;get dressed;get to school;get up;have breakfast;leave the house;take a bus;take a shower;wake up;wash your face</string>
		<key>sports</key>
		<string>basketball;soccer;tennis;swimming;golf;table tennis;volley ball;chess;boxing;pool;cycling;baseball;cricket;bowling;poker;fishing;american football;rugby;hockey;wrestling;darts;diving;gymnastics;high jump;horse riding;javelin;long jump;pole vault;shooting;shot putt</string>
		<key>numbers1</key>
		<string>zero;one;two;three;four;five;six;seven;eight;nine;ten;</string>
		<key>food1</key>
		<string>apple;banana;bread;chocolate;egg;grapes;milk;orange;pear;rice;hamburger;cake;carrot;coffee;corn;fish;tomato;noodles;strawberry;broccoli;chili;cookie;onion;orange juice;peach;peas;sandwich;soup;steak;watermelon</string>
		<key>letters</key>
		<string>a;b;c;d;e;f;g;h;i;j;k;l;m;n;o;p;q;r;s;t;u;v;w;x;y;z</string>
		<key>animals2</key>
		<string>ant;bee;bull;dolphin;camel;dinosaur;donkey;eagle;kangaroo;turtle;caterpillar;deer;fly;hippo;lizard;octopus;parrot;rhino;snail;worm;goldfish;gorilla;monster;ostrich;seal;skunk;slug;squirrel;swan;zebra;badger;beetle;buffalo;grasshopper;hedgehog;kitten;koala;lamb;peacock;puppy</string>
		<key>food2</key>
		<string>cola;cucumber;hot dog;ice;lettuce;bell pepper;pineapple;pizza;potato;tea;beer;cheese;cherry;coconut;eggplant;hot chocolate;lemon;mushroom;spaghetti;pie;butter;celery;cereal;garlic;ginger;grapefruit;kiwi;milkshake;sausage;whiskey</string>
		<key>transport</key>
		<string>bike;bus;car;motorbike;plane;ship;taxi;train;truck;walking;ambulance;elevator;escalator;fire engine;glider;helicopter;rocket;skateboard;tractor;van</string>
		<key>animals1</key>
		<string>bird;cat;dog;elephant;fish;horse;mouse;pig;snake;tiger;lion;monkey;chicken;giraffe;frog;dragon;duck;sheep;cow;whale;rat;bear;panda;wolf;penguin;goat;shark;leopard;fox;butterfly</string>
		<key>computer</key>
		<string>computer;mouse;keyboard;laptop;monitor;headset;printer;speakers;battery;light bulb;usb stick;dvd;dvd player;switch;line;microphone;plug;socket;webcam</string>
		<key>kitchen</key>
		<string>bottle;bowl;cup;fork;glass;jar;jug;knife;plate;spoon;bath;faucet;hairbrush;mirror;shower;sink;soap;toothbrush;toothpaste;towel;chopping board;cleaver;cloth;frying pan;kettle;ladle;saucepan;spatula;teapot;tray</string>
		<key>nature</key>
		<string>beach;bush;flower;island;lake;leaf;mountain;river;tree;wave;cloud;lightning;moon;rain;rainbow;snow;star;sun;tornado;wind</string>
		<key>numbers2</key>
		<string>eighteen;eighty;eleven;fifteen;forty;fourteen;nineteen;ninety;seventeen;seventy;sixteen;thirteen;thirty;twelve;twenty eight;twenty five;twenty four;twenty nine;twenty one;twenty seven;twenty six;twenty three;twenty two;twenty</string>
		<key>adjectives</key>
		<string>big;small;tall;short;new;old;fast;slow;fat;thin;happy;sad;heavy;light;hot;cold;long;young</string>
		<key>stationary</key>
		<string>eraser;notepad;paintbrush;paper;pen;pencil;pencil case;ruler;scissors;sharpener;board;calculator;cards;compass;crayons;fountain pen;marker;penknife;protractor;whistle</string>
		<key>garden</key>
		<string>barbeque;bucket;fence;gate;ladder;lawnmower;shed;spade;swing;wall;bench;broom;chimney;coat rack;drain;dustpan and brush;flower bed;lawn;mop;wheel barrow</string>
		<key>hospital</key>
		<string>black eye;broken arm;cold;cough;cut;headache;nose bleed;rash;sore throat;stomach ache;bandage;blood;crutches;injection;iv drip;medicine;needle;pill;plaster;wheel chair</string>
		<key>personal</key>
		<string>bag;camera;card;glasses;key;mobile phone;money;mp three;wallet;watch;balloon;bottle opener;candle;coat hanger;comb;dice;flashlight;gun;magnet;suitcase;binoculars;kite;map;newspaper;passport;rucksack;shopping cart;straw;ticket;trashcan</string>
		<key>body1</key>
		<string>arm;ear;eye;finger;foot;hand;leg;mouth;nose;teeth;hair;head;neck;toe;thumb;belly;chin;beard;bottom;tongue</string>
		<key>hardMode</key>
		<string>Hard Mode
(Play this mode to get stars)</string>
		<key>vibrate</key>
		<string>Vibration</string>
		<key>gcdisable</key>
		<string>Game Center is disabled or not logged in.</string>
	</dict>
</dict>
</plist>
